
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav{
    
    
    display: flex;
    
    padding: 30px;
    justify-content: space-between;
    background-color: rgb(11, 22, 82);
    
    
}
.nav ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    
    
}
.nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}
.logo{
    width: 150px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-size: 23px;
    padding: 15px;
}
.nav ul li a:hover{
    color: orangered;
    
}
.contact-page{
    width: 100%;
    display: inline-block;
    background-color: rgba(20, 161, 79, 0.801);
}
